
    <div class="container mt-5">
    <div class="d-flex justify-content-start">>
        <!-- زر "نجحت" -->
        <button type="submit" name="CHOOSE"  value="1" class="btn btn-success mr-2">{{carry_0}} نجحت</button>
        <!-- زر "فشلت" -->
        <button type="submit" name="CHOOSE" value="2" btn btn-danger mr-2">{{carry_1}}فشلت</button>
        <!-- زر "تحتاج إلى مال" --> 
        <button type="submit" name="CHOOSE" value="3" class="btn btn-warning mr-2">تحتاج إلى مال{{carry_2}}</button>
        <!-- زر "تحتاج إلى أدوات" -->
        <button type="submit" name="CHOOSE" value="4" btn btn-info mr-2">{{carry_3}}تحتاج إلى أدوات</button>
        <!-- زر "مؤجل" -->
        <button type="submit" name="CHOOSE" value="5" class="btn btn-secondary">{{carry_4}}مؤجل</button>
            <!-- زر "اخر نجاح" -->
            <button type="button" class="btn btn-success mr-2">اخر نجاح</button>
            <!-- زر "اخر فشل" -->
            <button type="button" class="btn btn-danger mr-2">اخر فشل</button>
    </div>
</div>
</form>
