<div class="container mt-5">
    <div class="d-flex justify-content-start">>
        <!-- زر "نجحت" -->
        <button type="button" class="btn btn-success mr-2">نجحت</button>
        <!-- زر "فشلت" -->
        <button type="button" class="btn btn-danger mr-2">فشلت</button>
        <!-- زر "تحتاج إلى مال" --> 
        <button type="button" class="btn btn-warning mr-2">تحتاج إلى مال</button>
        <!-- زر "تحتاج إلى أدوات" -->
        <button type="button" class="btn btn-info mr-2">تحتاج إلى أدوات</button>
        <!-- زر "مؤجل" -->
        <button type="button" class="btn btn-secondary">مؤجل</button>
            <!-- زر "اخر نجاح" -->
            <button type="button" class="btn btn-success mr-2">اخر نجاح</button>
            <!-- زر "اخر فشل" -->
            <button type="button" class="btn btn-danger mr-2">اخر فشل</button>
    </div>
</div>