{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <a class="navbar-brand" href="{% url 'Home' %}">
      Faithsearch
    </a>
    {% if request.user.is_authenticated %}
      {% if request.user.userprofile.userphoto %}
        <img src="{{ request.user.userprofile.userphoto.url }}" style="width:40px;height:40px;border-radius:50%">
      {% endif %}
      
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li>
         
          <a class="nav-link" href="{% url 'searchpage' %}">صفحة البحث <span class="sr-only">(الحالى)</span></a>
        </li>

        <li>
          <li>
         
            <a class="nav-link" href="{% url 'displaymyoperations' %}">عملياتي <span class="sr-only">(الحالى)</span></a>
          </li>
          <li>
         
            <a class="nav-link" href="{% url 'displaymydelayoperations' %}">عملياتي المؤجلة <span class="sr-only">(الحالى)</span></a>
          </li>
          <li>  
          {% if 'signin' in request.path or 'signup' in request.path or 'profile' in request.path %}
            class="nav-item dropdown active"
          {% else %}
            class="nav-item dropdown"
          {% endif %}
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.is_authenticated %}
              مرحباً
            {% else %}
              تسجيل الدخول
            {% endif %}
          </a>
          <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
            {% if request.user.is_authenticated %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'profile' %}">({{ request.user.username }})الملف الشخصى ل</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}" >
                خروج
              </a>
            {% else %}
              <a class="dropdown-item" href="{% url 'signin' %}">تسجيل الدخول</a>
              <a class="dropdown-item" href="{% url 'signup' %}">الاشتراك معنا</a> 
            {% endif %}
          </div>
        </li>

        {% block nav_items %}{% endblock %}

      </ul>
      {% if request.user.is_authenticated %}
        {% endif %}
    </div>
  </nav>

  {% block content %}{% endblock %}

  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
