
{% extends 'base.html' %}
{% block title %} | الملف الشخصى{% endblock %}
{%  block content %}
<div class="my-form container p-5 my-5 rounded border border-warning">
    <h2 class="text-center">الملف الشخصى</h2>
        <hr>
 
{% if request.user.is_authenticated   %}
        
<form method="POST" enctype="multipart/form-data">
{%  csrf_token  %}
       
        
{% include  'partials/_alerts.html' %}



        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputchangeyourpicture"> غير صورتك</label>
                <input type="file" name="userphoto" required link="{{userphoto.url}}" id="inputchangeyourpicture"  class="btn btn-outline-warning btn-lg btn-block">
            </div>
           
            <div class="form-group col-md-6">
                <label for="inputFirstName">الاسم الاول</label>
                <input type="text" class="form-control" name="fname" id="inputFirstName" required value="{{fname}}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputLastName">الاسم الاخير</label>
                <input type="text" class="form-control" name="lname" id="inputLastName" required value="{{lname}}">
            </div>
       
       
        
      
       

       
        
        
       
        
        <div class="form-group col-md-10">
            <label for="inputEmail">البريد الالكترونى</label>
            <input type="email" name="email" readonly class="form-control-plaintext border border-warning rounded" id="inputEmail" placeholder="name@example.com" required value="{{email}}">
        </div>
        
            <div class="form-group col-md-6">
                <label for="inputUsername">اسم المستخدم</label>
                <input type="text" name="user" readonly class="form-control-plaintext border border-warning rounded" id="inputUsername" placeholder="ahmed" required value="{{user}}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword">كلمة المرور</label>
                <input type="password"  name="pass" class="form-control" id="inputPassword" required value="{{pass}}">
            </div>    
        
        

        <button type="submit" name="btnsave" class="btn btn-warning">حفظ التغييرات</button>
    </div>
    </form>
    

 {% else %}
        <h4 class ="alert.alert-danger">
            يجب عليك ان 
            <a href="{%  url 'signin'  %}" class="text-dark"> تسجل دخول</a>
        </h4>    
 {% endif %}

</div>


{% endblock %}